01. Operators
02. Variables
03. Data Types
04. Conditional Statements
05. Loops
06. Functions
07. Packages
08. Pandas Library

# Operators

Types of Operators:

1. Arithmatic Operators (Adddition, Substraction, Multiplication, Division)
2. Comparison Operators (Less than, Less than equal to, Greater than, Greater than equal to, Equal to, Not equal to)
3. Logical Operators (And, Or, Not)

In [1]:
#Addition
1 + 1

2

In [2]:
#Subtraction
1 - 1

0

In [3]:
#Multiplication
5 * 4

20

In [4]:
#Division
20 / 5

4.0

In [5]:
#Less than
20 < 500

True

In [6]:
#Less than equal to
20 <= 500

True

In [7]:
#Greater than
500 > 600

False

In [8]:
#Greater thant equal to
500 >= 20

True

In [9]:
#Equal to
100==100.00

True

In [10]:
#Not equal to
100 != 300

True

In [11]:
#And
100 > 99 and 100 < 101

True

In [12]:
0 and 1

0

In [13]:
0 and 3

0

In [14]:
1 and 3

3

In [15]:
#Or
100 < 99 or 100 > 1

True

In [16]:
0 or 0

0

In [17]:
2 or 3

2

In [18]:
3 or 0

3

In [19]:
#Not
not 100 < 10

True

In [20]:
not 3

False

In [21]:
not 0

True

# Variables

In [22]:
a = 5

In [23]:
print(a)

5

In [24]:
A = 4

In [25]:
print(A)

4

In [26]:
a = 5
b = a
a = 3

In [27]:
print(b)
print(a)

5
3

# Data Types

In [28]:
a = 50
type(a)

int

In [29]:
b = "Patrick"
type(b)

str

In [30]:
c = 99.99
type(c)

float

# Conditional Statements

In [31]:
x = 30

if (x%2==0):
    print('x is an even number')
else:
    print('x is an odd number')

x is an even number

In [32]:
y = 60

if (y>90):
    print('Grade A')
elif (y>60 and y<=90):
    print('Grade B')
else:
    print('Grade F')

Grade F

# Loops

In [33]:
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [34]:
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# Functions

In [35]:
def area(radius):
    a= 3.14*radius*radius

    return a

In [36]:
area(5)

78.5

In [37]:
def compare(a,b):
    if (a>b):
        greater = a
    else:
        greater = b

    return greater

In [38]:
compare(300,30)

300

In [39]:
compare(5,14)

14

# Data Structure

## List
### Ordered data structure with elements separated by comma and enclosed within square brackets.

In [40]:
list = [1, 'Python', 2, 'is', 3, 'Awesome']

In [41]:
list[1]

'Python'

In [42]:
list[4]

3

In [43]:
list[2:5]

[2, 'is', 3]

In [44]:
list[-1]

'Awesome'

In [45]:
list.append(4)

In [46]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4]

In [47]:
list.extend([5,6,7])

In [48]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, 7]

In [49]:
list.append([8,9])

In [50]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, 7, [8, 9]]

In [51]:
list[10]

[8, 9]

In [52]:
list.remove(7)

In [53]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, [8, 9]]

In [54]:
del list[9]

In [55]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6]

In [56]:
del list[6:]

In [57]:
list

[1, 'Python', 2, 'is', 3, 'Awesome']

In [58]:
for i in list:
    print(i)

1
Python
2
is
3
Awesome

In [1]:
marks = [1,2,3,4,5,6,7,8,9]

In [2]:
marks.append(10)

In [3]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
marks.extend([11,12])

In [5]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [6]:
marks.append([13,14])

In [7]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, [13, 14]]

In [8]:
marks.remove([13,14])

In [9]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
marks.remove(1)

In [11]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
del marks[10]

In [13]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
for mark in marks:
    print(mark)

2
3
4
5
6
7
8
9
10
11

In [15]:
for mark in marks:
    print(mark*11)

22
33
44
55
66
77
88
99
110
121

## Dictionaries
### Un ordered data structure where elements are stored as key value pair while elements are separated by comma

In [17]:
marks = {'History': 45, 'Geography': 54, 'Hindi': 56}

In [18]:
marks

{'History': 45, 'Geography': 54, 'Hindi': 56}

In [19]:
marks['History']

45

In [20]:
marks['Geography']

54

In [21]:
marks['English'] = 47

In [22]:
marks

{'History': 45, 'Geography': 54, 'Hindi': 56, 'English': 47}

In [23]:
marks.update({'Chemistry':89, 'Physics': 98})

In [24]:
marks

{'History': 45,
 'Geography': 54,
 'Hindi': 56,
 'English': 47,
 'Chemistry': 89,
 'Physics': 98}

In [25]:
del marks['Hindi']

In [26]:
marks

{'History': 45, 'Geography': 54, 'English': 47, 'Chemistry': 89, 'Physics': 98}

In [33]:
for mark in marks:
    print(mark)

History
Geography
English
Chemistry
Physics

In [46]:
for mark in marks:
    print(marks[mark])

45
54
47
89
98

In [50]:
a = dict()
print(a)

{}

# Packages - Modules - Functions

Package contains different Modules and Modules contains different Functions.

There are 2 ways to call a specific function

-------------------------------------------------------------------------------
-From Packge.Module import Functions

Example- From Operator.Artirhmetic import addition

addition(2,3)

--------------------------------------------------------------------------------
-From Package import Module

Module.Function()

Example- From Operator import Arithmetic

Arithmatic.addition(2,3)