# Python

01. Operators
02. Variables
03. Data Types
04. Conditional Statements
05. Loops
06. Functions
07. Packages

# Operators

Types of Operators:

1. Arithmatic Operators (Adddition, Substraction, Multiplication, Division)
2. Comparison Operators (Less than, Less than equal to, Greater than, Greater than equal to, Equal to, Not equal to)
3. Logical Operators (And, Or, Not)

In [1]:
#Addition
1 + 1

2

In [2]:
#Subtraction
1 - 1

0

In [3]:
#Multiplication
5 * 4

20

In [4]:
#Float Division
20 / 5

4.0

In [5]:
#Floor Division
20//3

6

In [6]:
#Modulus
20%3

2

In [7]:
#Power
2**3

8

In [8]:
#Less than
20 < 500

True

In [9]:
#Less than equal to
20 <= 500

True

In [10]:
#Greater than
500 > 600

False

In [11]:
#Greater thant equal to
500 >= 20

True

In [12]:
#Equal to
100==100.00

True

In [13]:
#Not equal to
100 != 300

True

In [14]:
#And
100 > 99 and 100 < 101

True

In [15]:
0 and 1

0

In [16]:
0 and 3

0

In [17]:
1 and 3

3

In [18]:
#Or
100 < 99 or 100 > 1

True

In [19]:
0 or 0

0

In [20]:
2 or 3

2

In [21]:
3 or 0

3

In [22]:
#Not
not 100 < 10

True

In [23]:
not 3

False

In [24]:
not 0

True

# Variables

In [25]:
a = 5

In [26]:
print(a)

5

In [27]:
A = 4

In [28]:
print(A)

4

In [29]:
a = 5
b = a
a = 3

In [30]:
print(b)
print(a)

5
3

# Data Types

In [31]:
a = 50
type(a)

int

In [32]:
b = 99.99
type(b)

float

In [33]:
c = 2+4j
type(c)

complex

In [34]:
d = "Patrick"
type(d)

str

In [35]:
e = True
type(e)

bool

# Conditional Statements

         if condition_1:
             statement_block_1
         elif condition_2:
             statement_block_2
         else:
             statement_block_3
             

If the condition "condition_1" is True,
the statements in the block statement_block_1 will be executed.

If not, condition_2 will be executed.
If condition_2 evaluates to True, statement_block_2 will be executed.

If condition_2 is False,
the statements in statement_block_3 will be executed.

In [36]:
x = 30

if (x%2==0):
    print('x is an even number')
else:
    print('x is an odd number')

x is an even number

In [37]:
y = 60

if (y>90):
    print('Grade A')
elif (y>60 and y<=90):
    print('Grade B')
else:
    print('Grade F')

Grade F

# Loops

In [98]:
list = ["Milk", "Butter", "Bread"]
for x in list:
  print(x)

Milk
Butter
Bread

In [99]:
for x in "Milk":
  print(x)

M
i
l
k

In [140]:
#Break Statement
list = ["Milk", "Butter", "Bread"]
for x in list:
  print(x)
  if x == "Butter":
      break

Milk
Butter

In [111]:
list = ["Milk", "Butter", "Bread"]
for x in list:
    if x == "Butter":
        break
    print(x)

Milk

In [101]:
for x in "Bread":
    print(x)
    if x == 'a':
        break

B
r
e
a

In [110]:
for x in "Bread":
    if x == 'a':
        break
    print(x)

B
r
e

In [141]:
#Continue Statement
list = ["Milk", "Butter", "Bread"]
for x in list:
  print(x)
  if x == "Butter":
      continue

Milk
Butter
Bread

In [114]:
list = ["Milk", "Butter", "Bread"]
for x in list:
    if x == "Butter":
        continue
    print(x)

Milk
Bread

In [115]:
for x in "Bread":
    if x == 'a':
        continue
    print(x)

B
r
e
d

In [117]:
for x in "Bread":
    print(x)
    if x == 'a':
        continue

B
r
e
a
d

In [139]:
#Range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [120]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [121]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [122]:
for i in range(15,30,3):
    print(i)

15
18
21
24
27

In [136]:
#Else in For Loop
for x in range(3):
  print(x)
else:
  print("Operation Completed Successfully!")

0
1
2
Operation Completed Successfully!

In [129]:
for i in range(1,10):
    if i == 7:
        continue
    print(i)
else:
    print("Operation Completed Successfully")

1
2
3
4
5
6
8
9
Operation Completed Successfully

In [135]:
#Nested Loops
Attempt = ['Penalty','Header','Volly']
Chance = ['Scored', 'Saved', 'Missed']

for x in Attempt:
    for y in Chance:
        print(x,y)

Penalty Scored
Penalty Saved
Penalty Missed
Header Scored
Header Saved
Header Missed
Volly Scored
Volly Saved
Volly Missed

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [40]:
def area(radius):
    a= 3.14*radius*radius

    return a

In [41]:
area(5)

78.5

In [42]:
def compare(a,b):
    if (a>b):
        greater = a
    else:
        greater = b

    return greater

In [43]:
compare(300,30)

300

In [44]:
compare(5,14)

14

# Data Structure

## List
### Ordered data structure with elements separated by comma and enclosed within square brackets.

In [45]:
list = [1, 'Python', 2, 'is', 3, 'Awesome']

In [46]:
list[1]

'Python'

In [47]:
list[4]

3

In [48]:
list[2:5]

[2, 'is', 3]

In [49]:
list[-1]

'Awesome'

In [50]:
list.append(4)

In [51]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4]

In [52]:
list.extend([5,6,7])

In [53]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, 7]

In [54]:
list.append([8,9])

In [55]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, 7, [8, 9]]

In [56]:
list[10]

[8, 9]

In [57]:
list.remove(7)

In [58]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, [8, 9]]

In [59]:
del list[9]

In [60]:
list

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6]

In [61]:
del list[6:]

In [62]:
list

[1, 'Python', 2, 'is', 3, 'Awesome']

In [63]:
for i in list:
    print(i)

1
Python
2
is
3
Awesome

In [64]:
marks = [1,2,3,4,5,6,7,8,9]

In [65]:
marks.append(10)

In [66]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
marks.extend([11,12])

In [68]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [69]:
marks.append([13,14])

In [70]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, [13, 14]]

In [71]:
marks.remove([13,14])

In [72]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [73]:
marks.remove(1)

In [74]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [75]:
del marks[10]

In [76]:
marks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [77]:
for mark in marks:
    print(mark)

2
3
4
5
6
7
8
9
10
11

In [78]:
for mark in marks:
    print(mark*11)

22
33
44
55
66
77
88
99
110
121

## Dictionaries
### Un ordered data structure where elements are stored as key value pair while elements are separated by comma

In [79]:
marks = {'History': 45, 'Geography': 54, 'Hindi': 56}

In [80]:
marks

{'History': 45, 'Geography': 54, 'Hindi': 56}

In [81]:
marks['History']

45

In [82]:
marks['Geography']

54

In [83]:
marks['English'] = 47

In [84]:
marks

{'History': 45, 'Geography': 54, 'Hindi': 56, 'English': 47}

In [85]:
marks.update({'Chemistry':89, 'Physics': 98})

In [86]:
marks

{'History': 45,
 'Geography': 54,
 'Hindi': 56,
 'English': 47,
 'Chemistry': 89,
 'Physics': 98}

In [87]:
del marks['Hindi']

In [88]:
marks

{'History': 45, 'Geography': 54, 'English': 47, 'Chemistry': 89, 'Physics': 98}

In [89]:
for mark in marks:
    print(mark)

History
Geography
English
Chemistry
Physics

In [90]:
for mark in marks:
    print(marks[mark])

45
54
47
89
98

In [91]:
a = dict()
print(a)

{}

# Packages - Modules - Functions

Package contains different Modules and Modules contains different Functions.

There are 2 ways to call a specific function

-------------------------------------------------------------------------------
-From Packge.Module import Functions

Example- 

         From Operator.Artirhmetic import addition

         addition(2,3)

--------------------------------------------------------------------------------
-From Package import Module

Module.Function()

Example- 
         
         From Operator import Arithmetic

         Arithmatic.addition(2,3)

In [92]:
print('Thank You')

Thank You

In [93]:
0

0

False