## Apply Function

In [1]:
# Import pandas library
import pandas as pd

In [2]:
df = pd.read_csv('Pandas Part 1/bigmart_data.csv')

In [4]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [33]:
def reset(price):
    if price<200:
        price= 100
    return price

In [44]:
df['Item_MRP'].apply(lambda x: reset(x)).head()

0    249.8092
1    100.0000
2    100.0000
3    100.0000
4    100.0000
Name: Item_MRP, dtype: float64

In [41]:
def tier(city):
    if city == 'Tier 1':
        value = 0
    elif city == 'Tier 2':
        value = 1
    else:
        value = 2

    return value

In [45]:
df['Outlet_Location_Type'].apply(lambda x: tier(x)).head()

0    0
1    2
2    0
3    2
4    2
Name: Outlet_Location_Type, dtype: int64

In [57]:
def category(weight):
    if weight > 20:
        weight = 'Heavy'
    elif weight <20 and weight>10:
        weight = 'Medium'
    else:
        weight = 'Light'

    return weight

In [60]:
df['Item_Weight'].apply(lambda x: category(x)).head()

0     Light
1     Light
2    Medium
3    Medium
4     Light
Name: Item_Weight, dtype: object

In [61]:
def sales(price):
    if price>2000:
        price = 'High Sales'
    else:
        price = 'Less Sales'
    return price

In [62]:
df['Item_Outlet_Sales'].apply(lambda x: sales(x))

0       High Sales
1       Less Sales
2       High Sales
3       Less Sales
4       Less Sales
           ...
8518    High Sales
8519    Less Sales
8520    Less Sales
8521    Less Sales
8522    Less Sales
Name: Item_Outlet_Sales, Length: 8523, dtype: object

In [70]:
df['Outlet_Size'].head()

0    Medium
1    Medium
2    Medium
3       NaN
4      High
Name: Outlet_Size, dtype: object

In [67]:
def size(outlet):
    if outlet == 'High':
       value = 2

    elif outlet == 'Medium':
        value = 1

    else:
        value = 0

    return value

In [69]:
df['Outlet_Size'].apply(lambda x: size(x)).head()

0    1
1    1
2    1
3    0
4    2
Name: Outlet_Size, dtype: int64